:root {
    --black: black;
    --white: white;
    --gray: gray;
    --purple: rgb(160, 76, 140);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--black);
}

.header {
    background-color: var(--black);
    color: var(--purple);
    width: 100%;
    font-size:x-large;
    display: flex;
}

.header a {
    color: var(--purple);
}

.navigation-item {
    background: var(--black);
    padding: 10px;
    border: 5px solid var(--purple);
    justify-content: center;
    text-align: center;
}

.flex1 {
    flex-basis: 33%;
}

.flex2 {
    flex-basis: 33%;
}

.flex3 {
    flex-basis: 33%;
}

a:hover {
    color: var(--white);
    cursor: pointer;
}

.background-image {
    height: 700px;
    width: 100%;
    background-size: cover;
}

.intro-content {
    height: 650px;
    background-size: cover;
    background-image: url("../assets/images/Number-three.jpg");
    color: var(--white);
}

.intro-text {
    display:block;
    text-align: center;
    background: rgba(12, 14, 58, 0.2);
    padding: 25px;
}

.intro-text h1 {
    font-size: large;
}

.skills {
    display: flex;
    justify-content: center;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.informative-content {
    height: 850px;
    background-size: 100%;
    background-image: url("../assets/images/Rhythm.png"); /* 2nd background image*/
    color: var(--white);
}

.informative-text {
    display:block;
    text-align: center;
    background: rgba(12, 14, 58, 0.2)
}

#about-text {
    border-style: solid;
    padding: 75px;
    background-color:var(--purple);
}

.work {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: var(--purple);
    border-style: solid;
    /*background: rgba(12, 14, 58, 0.2)*/
}

.work-item1 {
    height: 500px;
    flex-basis: 100%;
    border-style: solid;;
    background-image: url(../assets/images/horiseon-screen-grab.png); /* Horiseon-main-page */
    margin: 25px;
}

.work-item2 {
    border-style: solid;
    padding: 50px;
    margin: 25px;
}

.work-item3 {
    border-style: solid;
    padding: 50px;
    margin: 25px;
}

.work-item4 {
    border-style: solid;
    padding: 50px;
    margin: 25px;
}

#contact-info {
    background-color: var(--purple);
    padding: 20px;
    justify-content: center;
    border-style: solid;
}

/*footer {
    color: var(--white);
    text-align: center;
}*/